@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #fdf5e6;
        --foreground: #000000;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica,
        sans-serif;
}

.text-bg {
    background-color: #fdf5e6;
}
